html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root,
.app {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: var(--background-overlay);
}